.offer-card {
  display: inline-block;
  width: fit-content;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #ddd;
}

.offer-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.offer-title {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.offer-discount {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}